In [2]:
planetnames=['mercury','venus','earth']

In [3]:
planetnames

['mercury', 'venus', 'earth']

In [6]:
len(planetnames)

3

In [8]:
planetnames[0]

'mercury'

In [9]:
planetnames[2]

'earth'

In [10]:
planetnames[0:2]

['mercury', 'venus']

In [12]:
planetnames.append('mars')

In [13]:
planetnames

['mercury', 'venus', 'earth', 'mars']

In [14]:
planetnames[0:4]

['mercury', 'venus', 'earth', 'mars']

In [15]:
planetnames[0:2]

['mercury', 'venus']

In [17]:
planetnames.append('jupiter')

In [18]:
planetnames

['mercury', 'venus', 'earth', 'mars', 'jupiter']

In [19]:
planetnames[-4:-2]

['venus', 'earth']

In [20]:
planetnames[2:3]

['earth']

In [28]:
planetnames.remove('saturn')

In [30]:
planetnames

['mercury', 'venus', 'earth', 'mars', 'saturn', 'saturn', 'jupiter']

In [31]:
planetnames.remove('saturn')

In [32]:
planetnames

['mercury', 'venus', 'earth', 'mars', 'saturn', 'jupiter']

In [33]:
planetnames.remove('saturn')

In [34]:
planetnames

['mercury', 'venus', 'earth', 'mars', 'jupiter']

In [35]:
planetnames.insert(6,'saturn')

In [36]:
planetnames

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn']

In [37]:
planetnames.append('urenus')

In [38]:
planetnames

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'urenus']

In [39]:
planetnames.insert(7,'neptune')

In [40]:
planetnames

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'urenus', 'neptune']

In [41]:
planetnames.insert(8,'pluto')

In [43]:
planetnames

['mercury',
 'venus',
 'earth',
 'mars',
 'jupiter',
 'saturn',
 'urenus',
 'neptune',
 'pluto']

In [45]:
planetnames.remove('pluto')

In [46]:
planetnames

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'urenus', 'neptune']

In [47]:
planetnames[0:8]

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'urenus', 'neptune']

In [48]:
planetnames[2:5]

['earth', 'mars', 'jupiter']

In [49]:
len(planetnames)

8

In [50]:
planetnames[-8:-5]

['mercury', 'venus', 'earth']

In [54]:
planetnames.index('earth')

2

In [55]:
planetnames.index('jupiter')

4

In [56]:
planetnames.sort()

In [57]:
planetnames

['earth', 'jupiter', 'mars', 'mercury', 'neptune', 'saturn', 'urenus', 'venus']

In [59]:
planetnames.sort()

In [60]:
planetnames

['earth', 'jupiter', 'mars', 'mercury', 'neptune', 'saturn', 'urenus', 'venus']

In [61]:
planetnames.reverse()

In [62]:
planetnames

['venus', 'urenus', 'saturn', 'neptune', 'mercury', 'mars', 'jupiter', 'earth']

In [63]:
planetnames.pop()

'earth'

In [64]:
planetnames.pop()

'jupiter'

In [65]:
planetnames

['venus', 'urenus', 'saturn', 'neptune', 'mercury', 'mars']

In [66]:
planetnames.insert(6,'jupiter')

In [67]:
planetnames

['venus', 'urenus', 'saturn', 'neptune', 'mercury', 'mars', 'jupiter']

In [68]:
planetnames.pop(1)

'urenus'

In [69]:
planetnames

['venus', 'saturn', 'neptune', 'mercury', 'mars', 'jupiter']

In [71]:
planetnames.remove('saturn')

In [73]:
planetnames

['venus', 'neptune', 'mercury', 'mars', 'jupiter']

In [90]:
planetnames=['merccury','venus','earth','jupiter','urenus','neptune']

In [91]:
planetnames

['merccury', 'venus', 'earth', 'jupiter', 'urenus', 'neptune']

In [92]:
planetnames.index('earth')

2

In [97]:
planetnames.sort()

In [98]:
planetnames

['earth', 'jupiter', 'merccury', 'neptune', 'urenus', 'venus']

In [99]:
planetnames.reverse()

In [100]:
planetnames

['venus', 'urenus', 'neptune', 'merccury', 'jupiter', 'earth']

In [101]:
planetnames.extend(['moon','sun','star'])

In [124]:
planetnames

['venus', 'neptune', 'merccury', 'jupiter']

In [125]:
planetnames.extend(['earth','urenus','neptune'])

In [126]:
planetnames

['venus', 'neptune', 'merccury', 'jupiter', 'earth', 'urenus', 'neptune']

In [127]:
planetnames.pop(6)

'neptune'

In [128]:
planetnames

['venus', 'neptune', 'merccury', 'jupiter', 'earth', 'urenus']

In [130]:
planetnames[2]

'merccury'

In [131]:
planetnames[2]='pluto'

In [132]:
planetnames

['venus', 'neptune', 'pluto', 'jupiter', 'earth', 'urenus']

In [133]:
planetnames[3]='start'

In [134]:
planetnames

['venus', 'neptune', 'pluto', 'start', 'earth', 'urenus']

In [135]:
planetnames[4]='sun'

In [136]:
planetnames

['venus', 'neptune', 'pluto', 'start', 'sun', 'urenus']

In [139]:
planetnames.extend(['dhumketu'])

In [140]:
planetnames

['venus',
 'neptune',
 'pluto',
 'start',
 'sun',
 'urenus',
 0,
 'dhumketu',
 'dhumketu']

In [141]:
planetnames.remove(0)

In [142]:
planetnames

['venus', 'neptune', 'pluto', 'start', 'sun', 'urenus', 'dhumketu', 'dhumketu']

In [144]:
planetnames.remove('dhumketu')

In [145]:
planetnames

['venus', 'neptune', 'pluto', 'start', 'sun', 'urenus', 'dhumketu']

In [146]:
planetnames.clear()

In [147]:
planetnames

[]

In [148]:
planetnames.append('banana')

In [149]:
planetnames

['banana']

In [150]:
numericlist=[1,2,3]

In [151]:
numericlist

[1, 2, 3]

In [152]:
len(numericlist)

3

In [154]:
fruitlist=['banana','mango']

In [155]:
fruitlist

['banana', 'mango']

tuple

In [156]:
tuple1=(1,2,3,4,5)

In [157]:
tuple1

(1, 2, 3, 4, 5)

In [158]:
len(tuple1)

5

In [160]:
tuple1[1]

2

In [161]:
tuple1[2:4]

(3, 4)

In [163]:
tuple1[-4:-1]

(2, 3, 4)

In [165]:
tuple1.count(4)

1

In [166]:
tuple1.count(3)

1

In [167]:
tuple1[3]=6

TypeError: 'tuple' object does not support item assignment

In [168]:
tuple1.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [170]:
tuple1.insert(1,'a','d')

AttributeError: 'tuple' object has no attribute 'insert'

In [174]:
tuple1=(1,54,66,'s','de',1)

In [175]:
tuple1

(1, 54, 66, 's', 'de', 1)

In [176]:
tuple1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [177]:
tuple1.count(1)

2

In [178]:
planetnames=['earth']

In [179]:
planetnames

['earth']

In [180]:
len(planetnames)

1

In [181]:
tuple2=['r','t','y']

In [182]:
tuple2

['r', 't', 'y']

In [183]:
tuple2.count('r')

1

In [184]:
d1={'id':1,'name':'debangshu','grade':1}

In [185]:
d1

{'id': 1, 'name': 'debangshu', 'grade': 1}

In [189]:
d1['id']

1

In [190]:
d1['name']

'debangshu'

In [191]:
d1['grade']

1

In [195]:
d1.update({'fees':2000})

In [196]:
d1

{'name': ['Debangshu', 'Arghya'], 'id': [1, 2], 'grade': [1, 2], 'fees': 2000}

In [192]:
d1={'name':['Debangshu','Arghya'],'id':[1,2],'grade':[1,2]}

In [193]:
d1

{'name': ['Debangshu', 'Arghya'], 'id': [1, 2], 'grade': [1, 2]}

In [235]:
d1['name'][1]

TypeError: 'set' object is not subscriptable

In [197]:
d1['fees']=8000

In [198]:
d1

{'name': ['Debangshu', 'Arghya'], 'id': [1, 2], 'grade': [1, 2], 'fees': 8000}

In [219]:
d1['name']

{'Debangshu', 'jayee', 'rahul'}

In [236]:
d1['name'][2]

TypeError: 'set' object is not subscriptable

In [221]:
d1['name']

{'Debangshu', 'jayee', 'rahul'}

In [222]:
d1['name']={'rahul','Debangshu','jayee'}

In [223]:
d1['name']

{'Debangshu', 'jayee', 'rahul'}

In [224]:
d1.reverse['name']

AttributeError: 'dict' object has no attribute 'reverse'

In [225]:
d1.insert{['name':1,'sutapa']}

SyntaxError: invalid syntax (3849318406.py, line 1)

In [226]:
d1.keys()

dict_keys(['name', 'id', 'grade', 'fees'])

In [228]:
d1.items()

dict_items([('name', {'jayee', 'rahul', 'Debangshu'}), ('id', [1, 2]), ('grade', [1, 2]), ('fees', 8000)])

In [229]:
d1.values()

dict_values([{'jayee', 'rahul', 'Debangshu'}, [1, 2], [1, 2], 8000])

In [232]:
d1

{'name': {'Debangshu', 'jayee', 'rahul'},
 'id': [1, 2],
 'grade': [1, 2],
 'fees': 8000}

In [239]:
d1['name'][1]

TypeError: 'set' object is not subscriptable

In [234]:
d1['id'][0]

1

In [238]:
d1['grade'][1]

2

In [240]:
d2={'name':['rahul','ayan','raju'],'roll':[1,2,3],'sec':['a','b','c']}

In [241]:
d2

{'name': ['rahul', 'ayan', 'raju'], 'roll': [1, 2, 3], 'sec': ['a', 'b', 'c']}

In [242]:
d2['name'][1]

'ayan'

In [243]:
d2['roll'][0]

1

In [244]:
d2['sec'][1]

'b'